<% drinks.each do |drink| %>
  <% order_drink = OrderDrink.find_by(order: order, drink: drink) || OrderDrink.new %>
  <div class="drink">
    <div class="drink-content">
      <div class="card">
        <%= drink.name %>
        <%= drink.category.name %>
      </div>
    </div>
    <% if order_drink.amount > 0 %>
      <div>
        <p>Total = <%= order_drink.amount %></p>
      </div>
    <% end %>
    <div class="hidden-order-btns", style="display: none">
      <div class="card">
        <div class="inner-card">
          <p class="drink-close-btn">X</p>
          <%= simple_form_for [order, drink, order_drink], remote: true do |f| %>
            <%= render "shared/plus_minus_form", input: :amount, f: f %>
            <%= f.submit "Add", class: "order-submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'drinks' %>
