<% drinks.each do |drink| %>
  <% order_drink = OrderDrink.find_by(order: order, drink: drink) || OrderDrink.new %>
  <div class="drink">
    <div class="drink-content">
      <div class="card">

        <div class="col-sm-1">
          <% if order_drink.amount > 0 %>
            <div>
              <p class="drink_order_number"><%= order_drink.amount %></p>
            </div>
          <% end %>
        </div>

        <div class="col-sm-2">
          <div class="card_icon">
            <% if drink.category.name == "Beer" %>
              <i class="fas fa-beer fa-2x"></i>
            <% elsif drink.category.name == "Wine"%>
              <i class="fas fa-wine-glass-alt fa-2x"></i>
            <% elsif drink.category.name == "Cocktail"%>
              <i class="fas fa-glass-martini-alt fa-2x"></i>
            <% elsif drink.category.name == "Shot"%>
              <i class="fas fa-skull-crossbones fa-2x"></i>
            <% end %>
          </div>
        </div>

        <div class="col-md-7">
          <div class="card_name">
          <%= drink.name %>
          </div>
        </div>

        <div class="card_price text-right">
          <div class="col-sm-2">
            <% if params[:id].present? %>
              <% if current_page?(controller: "orders", action: "show") %>
                <%= humanized_money_with_symbol(order_drink.price) %>
              <% end %>
            <% else %>
              <%= humanized_money_with_symbol(drink.price) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden-order-btns", style="display: none;">
      <div class="card_under">
        <div class="inner-card_under">
          <%= simple_form_for [order, drink, order_drink], remote: true do |f| %>
            <div class="card_form">
            <%= render "shared/plus_minus_form", input: :amount, f: f %>
            </div>
            <%# if params[:category].present? %>
              <input type="hidden" name="category" value="<%= params[:category] %>">
            <%# end %>
            <% if order_drink.amount == 0 %>
              <%= f.submit "Add", class: "order-submit add-item" %>
            <% else %>
              <%= f.submit "Edit", class: "order-submit add-item" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'drinks' %>
