<% drinks.each do |drink| %>
  <% order_drink = OrderDrink.find_by(order: order, drink: drink) || OrderDrink.new %>
  <div class="drink">
    <div class="drink-content">
      <div class="card">

        <div class="col-sm-3">
          <% if order_drink.amount > 0 %>
            <div>
              <p class="drink_order_number"><%= order_drink.amount %></p>
            </div>
          <% end %>
        </div>

        <div class="col-sm-6">
          <%= drink.name %>
        </div>

        <div class="col-sm-3">
          <%= humanized_money_with_symbol(drink.price_cents / 100) %>
        </div>
      </div>
    </div>

    <div class="hidden-order-btns", style="display: none">
      <div class="card_under">
        <div class="inner-card_under">
          <%= simple_form_for [order, drink, order_drink], remote: true do |f| %>
            <%= render "shared/plus_minus_form", input: :amount, f: f %>
            <%= f.submit "Add", class: "order-submit add-item" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'drinks' %>
