<%= render 'shared/navbar', event: @event, header: nil %>
<div class="grey_main_body"></div>
<div class=" main_container">

    <%= link_to event_path(@event) do %>
      <div class="map_card card">
        <div class="col-sm-3"  style="border-right: solid 1px grey">
          <p>Wait Time</p>
          <!--<p class="eta_btn"><%= @order.drinks %>min</p>-->
          <p><strong class="eta_btn"><%= @event.closest_bar.eta %> </strong>min</p>
        </div>
        <div class="col-sm-6" style="padding-right: 50px">
          <p>Location</p>
          <!--<p><%= @order.bar_id %></p>-->
          <p><%= @event.closest_bar.name %></p>
        </div>
        <div class="col-sm-3">
          <%= image_tag "ping.png", height: 50, class: "map_ping" %>
        </div>
      </div>
    <% end %>


  <div class="header_card">
    <div class="header_title">
      <h1 id="drink-title"><%= @category.nil? ? "Popular Drinks" : @category.name %></h1>
    </div>
    <div class="card_sub_header">
      <p>Tap Drink To Order</p>
    </div>
  </div>


  <div class="category_buttons">

      <button id="category_btn" class="ripple ripple_button"><%= image_tag "search.png", height: 40 %></button>



     <%= link_to event_drinks_path(@event, category: nil), remote: true, class: "hidden-btn", style: "display:none " do %>
          <div class="search_button_cat hidden-btn top" style="display:none">
            <div class="hidden-btn top move_left"><%="Popular Drinks" %></div>
            <i class="fas fa-star fa-2x"></i>
          </div>
        <% end %>

    <% @categories.each do |category| %>
      <%if category.name == "Beer"%>
        <%= link_to event_drinks_path(@event, category: category), remote: true, class: "hidden-btn", style: "display:none " do %>
          <div class="search_button_cat hidden-btn beer" style="display:none">
            <div class="hidden-btn beer move_left"><%= category.name %></div>
            <i class="fas fa-beer fa-2x"></i>
          </div>
        <% end %>


      <% elsif category.name == "Wine"%>
        <%= link_to event_drinks_path(@event, category: category), remote: true, class: "hidden-btn", style: "display:none " do %>
          <div class="search_button_cat hidden-btn wine" style="display:none">
            <div class="hidden-btn wine move_left"><%= category.name %></div>
            <i class="fas fa-glass-martini-alt fa-2x"></i>
          </div>
        <% end %>

      <% elsif category.name == "Cocktail"%>
        <%= link_to event_drinks_path(@event, category: category), remote: true, class: "hidden-btn", style: "display:none " do %>
          <div class="search_button_cat hidden-btn cocktail" style="display:none">
            <div class="hidden-btn cocktail move_left"><%= category.name %></div>
            <i class="fas fa-glass-martini-alt fa-2x"></i>
          </div>
        <% end %>

      <% elsif category.name == "Shot"%>
        <%= link_to event_drinks_path(@event, category: category), remote: true, class: "hidden-btn", style: "display:none " do %>
          <div class="search_button_cat hidden-btn shot" style="display:none">
            <div class="hidden-btn shot move_left"><%= category.name %></div>
            <i class="fas fa-skull-crossbones fa-2x"></i>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="drink_listing">
    <div id="drink-list">
      <% unless params[:category].present? %>
        <%= render partial: 'drinks', locals: { drinks: @drinks, order: @order} %>
      <% end %>
      <%= link_to "Pay", order_path(@order), class: "btn btn-success" %>
    </div>
  </div>

  <div class="bottom_margin"></div>
</div>

<!-- black cards are found at componenet/cards.scss/ page style is stylesheets/pages/drinks.scss-->


