<h1><%= @category.nil? ? "Drinks" : @category.name %></h1>

<%= link_to "Launch modal" %>
<%= link_to "Pay", order_path(1), class: "btn btn-primary" %>
<%= link_to "ETA", event_path(1), class: "btn btn-primary" %>

<button id="category_btn">Categories</button>
<%= link_to "Popular drinks", event_drinks_path(@event), class: "hidden-btn", style: "display:none", remote: true %>
<% @categories.each do |category| %>
  <%= link_to category.name, event_drinks_path(@event, category: category), remote: true, class: "hidden-btn", style: "display:none" %>
<% end %>

<div id="drink-list">
  <% unless params[:category].present? %>
    <%= render partial: 'drinks', locals: { drinks: @drinks, order: @order} %>
  <% end %>
</div>
