<h1>Events</h1>

<% @events.each do |event| %>
  <%= link_to event_drinks_path(event.id) do %>
    <div>
      <h2><%= event.name %></h2>
      <p>At: <strong><%= event.address %></strong></p>
      <p>From: <strong><%= event.start_date %></strong></p>
      <p>Until: <strong><%= event.end_date %></strong></p>
    </div>
  <% end %>
<% end %>
