
<!-- <div class="gradient"> -->

  <%= link_to event_path(@event) do %>
    <div class="map_card card">
      <div class="col-sm-3"  style="border-right: solid 1px grey">
        <p>ETA</p>
        <p class="eta_btn"><%= @order.eta %>min</p>
      </div>
      <div class="col-sm-6">
        <p>Location</p>
        <p><%= @order.bar.name %></p>
      </div>
      <div class="col-sm-3">
        <%= image_tag "ping.png", height: 50, class: "map_ping" %>
      </div>
    </div>
  <% end %>




  <div class="confirm">
    <div class="confirm-title-box">
      <h1>Confirmation</h1>
      <div class="text_center">
        <h2>Your Order has been sent!</h2>
        <div id="order-link">
          <%= link_to "View Order", review_order_path(@order) %>
        </div>
      </div>
    </div>
  </div>




  <div class="card">
    <div class="confirm-title-box">
      <h1>Check Out</h1>
      <p>Please confirm your order</p>
    </div>
    <div class="add-item-right">
    <%= link_to "Add Item", event_drinks_path(@order.bar.event) %>
    </div>
  </div>
  <br>
  <div class="item-list">
    <ul>
      <% @order.order_drinks.each do |order_drink| %>
        <li class="text-white">
          <span class="item-list-right"><%= order_drink.amount %></span>
          <span class="item-list-center"><%= order_drink.drink.name %></span>
          <span class="item-list-left"><%= humanized_money_with_symbol(order_drink.price) %></span>
        </li>
      <% end %>
    </ul>
  </div>

  <h5>Total <%= humanized_money_with_symbol(@order.total_no_tax) %></h5>
  <h5>Taxes <%= humanized_money_with_symbol(@order.tax) %></h5>



  <%= simple_form_for @order do |f| %>
  <%= render "shared/plus_minus_form", input: :tip, f: f %>
  <p>Tip Amount</p>
    <h5 id="tip-amount"><%= humanized_money_with_symbol(@order.tip_amount) %></h5>
    <h3 id="grand-total"><%= humanized_money_with_symbol(@order.grand_total) %></h3>

    <%= f.button :submit, "ORDER" %>
  <% end %>

  <%= javascript_pack_tag 'checkout' %>
</div>

<!-- for tresting purpuose only -->

<!-- <div class="message">
  <div class="message-name">
    <h3>Gab Dehan</h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><strong>I am not sure yet!</strong></p>
    <p>
      I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
    </p>
  </div>
  <div class="message-status">
    <p class="status pending">Pending</p>
    <p class="price">€345</p>
  </div>
</div>
 -->
