
<div class="drink_listing">
  <div id="drink-list">
    <% unless params[:category].present? %>
      <%= render partial: 'drinks/drinks', locals: { drinks: @drinks, order: @order } %>
    <% end %>
  </div>
</div>

<div class="back-to-drinks">
  <%= link_to "Add Item", event_drinks_path(@order.bar.event) %>
</div>

<%= simple_form_for @order do |f| %>
  <div class="card checkout-subtotal-tax-tip">
    <div class="container">
      <div class="row border-bottom no-gutters">
        <div class="col-xs-6 no-margin-between-elements">
          <h5>SUBTOTAL</h5>
          <h5>TAXES</h5>
        </div>
          <div class="d-flex justify-content-end">
        <div class="col-xs-6 no-margin-between-elements">
            <h5 class="text-right"><%= humanized_money_with_symbol(@order.total_no_tax) %></h5>
            <h5 class="text-right"><%= humanized_money_with_symbol(@order.tax) %></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h5>TIP</h5>
        </div>
        <div class="col-xs-6">
          <h5 class="text-right" id="tip-amount"><%= humanized_money_with_symbol(@order.tip_amount) %></h5>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="checkout-tip text-center">
            <%= render "shared/plus_minus_form", input: :tip, f: f %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="card checkout-grand-total">

    <h3 id="grand-total"><%= humanized_money_with_symbol(@order.total_with_tax) %></h3>

    <%= f.button :submit, "ORDER", class: "order_button" %>
  </div>
<% end %>

<div class="bottom_margin"></div>
<%= javascript_pack_tag 'checkout' %>
<%#= javascript_pack_tag 'drinks' %>
