
<div class="header_card">
  <div class="header_title">
    <h1 id="drink-title">Confirmation</h1>
  </div>
  <div class="card_sub_header">
    <p>Your Order has been sent!</p>
  </div>
  <div id="order-link">
    <%= link_to "View Order" %>
  </div>
</div>



<!--<div class="confirm-title-box">
  <h1>Confirmation</h1>
  <div class="text_center">
    <h2>Your Order has been sent!</h2>
    <div id="order-link">
      <%= link_to "View Order", review_order_path(@order) %>
    </div>
  </div>
</div>-->

<div class="confirm-map-box">
  <h2>Pick Up Your Order Here</h2>
  <p>We will let you know when your order is ready</p>
  <div id="map-container" style="width: 100%; height: 250px">
    <div
    id="map"
    style="width: 100%; height: 200px"
    data-markers="<%= markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
  <div class="text_center">
    <p>Present this QR code upon pick up</p>
    <div id="qr_code">
      <%= link_to notification_path do %>
      <%= raw @qr.as_html %>
      <% end %>
    </div>
  </div>
</div>
  <div class="bottom_margin"></div>

<%= javascript_pack_tag 'mapbox' %>

