<h4>Your order will be at:</h4>
<p><%= @order.bar.name %><p>
<h5>ETA: <%= @order.bar.eta %> min</h5>

<h1>Check Out</h1>
<p>Please confirm your order</p>
<%= link_to "Add Item", event_drinks_path(@order.bar.event) %>
<br>
<ul>
  <% @order.order_drinks.each do |order_drink| %>
   <li><%= order_drink.amount %> <%= order_drink.drink.name %> <%= humanized_money_with_symbol(order_drink.price) %></li>
  <% end %>
</ul>

<h5>Total <%= humanized_money_with_symbol(@order.total_no_tax) %></h5>
<h5>Taxes <%= humanized_money_with_symbol(@order.tax) %></h5>



<%= simple_form_for @order do |f| %>
<%= render "shared/plus_minus_form", input: :tip, f: f %>
<p>Tip Amount</p>
  <h5 id="tip-amount"></h5>
  <h3 id="grand-total"><%= humanized_money_with_symbol(@order.total_with_tax) %></h3>

  <%= f.button :submit, "ORDER" %>
<% end %>

<%= javascript_pack_tag 'checkout' %>
