<%= render 'shared/navbar', event: nil, header: "Order" %>
<div class="main_container">
  <div class="banner" style="background-image:url(<%= @event.photo unless @event.nil? %>")>
    <% unless @order.status == "confirmed" %>
      <%= link_to event_drinks_path(@order.bar.event), class: "back-arrow" do %>
         <%= icon('fas', 'arrow-left') %>
      <% end %>
    <% end %>
  </div>

  <div class="body_container">
    <% if @order.status == "confirmed" %>
      <%= render "order_confirmed", markers: @markers %>
    <% else %>
      <%= render "order_checkout" %>
    <% end %>
  </div>
</div>

<% javascript_pack_tag 'mapbox' %>

<!-- page style is stylesheets/pages/orders.scss-->
