<%= render 'shared/navbar', event: nil, header: @order.status == "confirmed" ? "Confirmation" : "Checkout" %>
<%= link_to event_drinks_path(@order.bar.event) do %>
   <%= icon('fas', 'arrow-left') %>
<% end %>
<div class="main_container <%= @order.status == 'confirmed' ? 'confirm' : '' %>">

  <% if @order.status == "confirmed" %>
    <%= render "order_confirmed", markers: @markers %>
  <% else %>
    <%= render "order_checkout" %>
  <% end %>

</div>

  <% javascript_pack_tag 'mapbox' %>

