<%= render 'shared/navbar', event: nil, header: "Order" %>
<div class="main_container">
  <div class="banner" style="background-image:url(<%= @event.photo unless @event.nil? %>")>
    <% unless @confirmed_order.status == "confirmed" %>
      <%= link_to event_drinks_path(@confirmed_order.bar.event), class: "back-arrow" do %>
         <%= icon('fas', 'arrow-left') %>
      <% end %>
    <% end %>
  </div>

  <div class="body_container">

    <div id="eta">
      <div class="map_bg">
        <div class="map_card">
            <p><strong class="eta_btn">2 </strong>min Waiting Time</p>
        </div>
      </div>
    </div>
     <div class="map_container">
      <div class="overlay-map-color"><p style="padding-top: 10px;"><%= @event.closest_bar.name %></p></div>
      <div class="map" id="map" style="height: 300px !important; width: 100%" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" class="map_style">
      </div>
    </div>

    <div class="header_title">
      <h1 id="drink-title">We will let you know when your order is ready</h1>
    </div>

    <div class="confirm-map-box">
      <div class="text_center">
        <p>Present this QR code upon pick up</p>
        <div id="qr_code">
          <%= link_to notification_path do %>
          <%= raw @qr.as_html %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="bottom_margin"></div>

    <%= link_to 'Complete Order', orders_complete_path(@confirmed_order), method: :post %>
  </div>
</div>

<% javascript_pack_tag 'mapbox' %>

<!-- page style is stylesheets/pages/orders.scss-->
